@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme inline {
  --color-background-base: #000000; /* pure black */
  --color-background: #1a1a1a; /* lighter dark */

  /* Glass morphism colors */
  --color-glass-bg: rgba(26, 26, 26, 0.7);
  --color-glass-border: rgba(255, 255, 255, 0.1);

  --color-primary: #3d88f7;
}
